results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/.snakemake/**
.test/data/*
.test/logs/**
.test/results/**
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
