# Snakemake
.snakemake/
*.log
*.html
*.pdf
*.tmp
*.bak
*.snakemake
*.snk

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Conda
.env/
.venv/
*.yaml
envs/

# R
.Rhistory
.RData
.Rproj.user/

# Results & Output
results/
output/
figures/

# System
.DS_Store
Thumbs.db

